<template>
    <ol class="node-tree">
        <div class="label-container">
            <div v-if="json.isFolder"><FolderIcon class="icon" /></div>
            <span class="label">{{ json.title }}</span>
        </div>

        <div v-if="json.children && json.children.length">
            <tree-component v-for="child in json.children" :json="child" />
        </div>
    </ol>
</template>

<script>
    import FolderIcon from './icons/FolderIcon.vue'

    export default {
        components: {FolderIcon},
        name:"tree-component",
        props: {
            json: Object
        },
    }
</script>

<style>
    .label-container{
        display: flex;
    }
    
</style>