<template>
    <svg 
        version="1.1" 
        xmlns="http://www.w3.org/2000/svg" 
        xmlns:xlink="http://www.w3.org/1999/xlink"
        aria-hidden="true"
        role="img"    
        width="15"
        height="15"  
        viewBox="0 0 216.139 216.139"  
        xml:space="preserve"
    >
        <path d="M208.639,42.197h-17.197V15.931c0-4.142-3.358-7.5-7.5-7.5h-43.338H97.27H53.938H7.5c-4.142,0-7.5,3.358-7.5,7.5v184.276
            c0,4.142,3.358,7.5,7.5,7.5h201.139c4.142,0,7.5-3.358,7.5-7.5V49.697C216.139,45.555,212.781,42.197,208.639,42.197z
            M176.441,42.197h-28.338V23.431h28.338V42.197z M133.104,42.197H104.77V23.431h28.334V42.197z M89.77,42.197H61.438V23.431H89.77
            V42.197z M201.139,192.708H15V23.431h31.438v26.266c0,4.142,3.358,7.5,7.5,7.5H97.27h43.334h43.338h17.197V192.708z"/>
    </svg>
</template>