<script setup>
  import TreeComponent from '@/components/TreeComponent.vue'
  import axios from 'axios'
</script>

<template>
  <main >
    <div class="tree">
      <ul class="tree-list" v-if="this.treeData && this.treeData.length">
        <TreeComponent v-for="item in this.treeData" :json="item"/>
      </ul>
    </div>
  </main>
</template>

<script>
  export default {
    props: {
      treeData: Object
    },
    components: {
      TreeComponent
    },
    data(){
      return{treeData: []}
    },
    created(){
        axios
        .get('http://127.0.0.1:80')
        .then(response => (this.treeData = response.data));
        console.log(this.treeData)
      }
    }
</script>
<style>
  .tree-list ul {
    margin: 6px 0;
    padding-left: 16px;
  }
</style>